@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "IBM Plex Mono", 'Courier New', monospace;
    background-color: #F5EBDC;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height:100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 0.2em solid #77DD77;
    background-color: #1D1C1A;
}

a{
    text-decoration: none;
    
}


body header nav ul li button#cart{
    width:5em;
    background-image: url("imgs/login_register.png");
    background-repeat: no-repeat;
    margin-top: 8;
    margin-bottom: 8;
}

.dropdown_button{
    width: 5em;
    color:#77DD77;
    background-color: #1D1C1A;
    border: 0.2em solid #77DD77;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em;
}
.dropdown_content{
    display: none;
    background-color: #1D1C1A;
}

.dropdown_content a{
    text-decoration: none;
    display: block;
    color:#77DD77;
}

.show{
    display: block;
    position: fixed;
}

body header nav ul :nth-child(3){
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    margin-right: 5em;
}

#cart{
    background-color:#1D1C1A;
    border: none;
}

body header nav ul :last-child{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

body nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    flex-direction: row; 
    padding: 0.4em;
}

body nav ul li#search_bar{
    flex-grow: 2;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

body nav ul li#search_bar input{
    color: #77DD77;
    border-radius: 1em;
    padding:0.3em;
    background-color:#D3D3D3;
    width:100%; 
}


header h1{
    text-align:center;
    margin-left: 1.0em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

header h1 a{
    color:#77DD77;
}

a{
    text-decoration: none;
    
}


body header nav ul li button#cart{
    width:5em;
    background-image: url("imgs/login_register.png");
    background-repeat: no-repeat;
    margin-top: 8;
    margin-bottom: 8;
}

.dropdown_button{
    width: 5em;
    color:#77DD77;
    background-color: #1D1C1A;
    border: 0.2em solid #77DD77;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em;
}
.dropdown_content{
    display: none;
    background-color: #1D1C1A;
    text-align: center;
}

.dropdown_content a{
    text-decoration: none;
    display: block;
    color:#77DD77;
}

.show{
    display: block;
    position: fixed;
}

body header nav ul :nth-child(3){
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    margin-right: 5em;
}

#cart{
    background-color:#1D1C1A;
    border: none;
}

body header nav ul :last-child{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
}

body nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    flex-direction: row; 
    padding: 0.4em;
}

body nav ul li#search_bar{
    flex-grow: 2;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

body nav ul li#search_bar input{
    color: #77DD77;
    border-radius: 1em;
    padding:0.3em;
    background-color:#D3D3D3;
    width:100%; 
}


header h1{
    text-align:center;
    margin-left: 1.0em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

header h1 a{
    color:#77DD77;
}

a{
    text-decoration: none;
    
}


body header nav ul li button#cart{
    width:5em;
    background-image: url("imgs/login_register.png");
    background-repeat: no-repeat;
}



body header nav ul li a#button{
    border-radius:1em;
    color: #77DD77;
    border:0.3em solid #77DD77;
    padding: 0.3em;
}

body header nav ul :last-child{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    flex-direction: row; 
    padding: 0.4em;
}

body nav ul li#search_bar{
    flex-grow: 2;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

body nav ul li#search_bar input{
    color: #77DD77;
    border-radius: 1em;
    padding:0.3em;
    background-color:#D3D3D3;
    width:100%; 
}


header h1{
    text-align:center;
    margin-left: 1.0em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

header h1 a{
    color:#77DD77;
}


menu{
    border: 0.2em solid #77DD77;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}
form {
    padding: 1em;
    border:0.4em solid #77DD77;
    background-color: #1D1C1A;
    border-radius:1em;
    width: 30em;
    height: 10em;
}

form h2{
    color: white;
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

form label{
    color:white;
    display:inline-block;
    padding-bottom:1.5em;
    padding-top:0em;
    font-weight: bold;
    width:100%;
}



form label input{
    border:0;
    display:float;
    float:right;
    margin-left:0.5em;
    margin-top: 0.3em;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 2em;
    width: 6em;
    background-color: white;
    font-weight: bold;
    color: #77DD77;
    border: 0;
    border-radius:1em;
}

form button:hover{
    background-color:#DCDCDC;
    cursor:pointer;
}


form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 2em;
    width: 6em;
    background-color: white;
    font-weight: bold;
    color: #77DD77;
    border: 0;
    border-radius:1em;
}

form button:hover{
    background-color:#DCDCDC;
    cursor:pointer;
}

footer{
    display:block;
}