@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body{ 
    background-image:url("../imgs/background.jpg");
    background-size:cover;
    width:100%
}

form button{
    color:#77DD77;
    background-color: #1D1C1A;
    border: 0.2em solid #77DD77;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 0.4em;
}
button:hover {
    cursor: pointer;
}
menu ul li a p{
    width:max-content;
}

.hide {
    display: none;
}

menu {
    padding: 1em;
    border:0.4em solid #77DD77;
    background-color: white;
    border-radius:1em;
    width: 35em;
    height: 12em;
    display:table;
    margin:auto;
    margin-top:15%;
}
menu p{
    font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    color: #1D1C1A;
}
#total{
    display: flex;
    justify-content: center;
    font: 400 20px/1.5 Inter, Helvetica, Verdana, sans-serif;
    margin: 0;
    color: #1D1C1A;
    padding-top: 1em;;
    font-weight: 800;
}
menu h2 {
    font: 400 30px/1.5 Inter, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #1D1C1A;
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
 
menu ul {
  height: 10em;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: scroll;
  overflow-x: hidden;
}
 
menu ul li {
    display: flex;
    justify-content: center;
    font: 200 20px/1.5 Inter,Helvetica, Verdana, sans-serif;
    border-bottom: 2px solid #1D1C1A;
}
 
menu ul li:last-child {
  border: none;
}
 
form{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
#empty_cart{
    display: flex;
    justify-content: center;
    padding: 2em;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1D1C1A;
    border-radius: 10px;
  }


  #search_bar {
    visibility: hidden;
}