@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "IBM Plex Mono", 'Courier New', monospace;
    background-color: #F5EBDC;
    background-image:url("../imgs/hamburger_background");
    background-size:cover;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height:100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 0.2em solid #77DD77;
    background-color: #1D1C1A;
}

a{
    text-decoration: none;
}

body nav ul{
    list-style:none;
    display:flex;
    flex-direction: row; 
}
body nav ul li{
    padding:0.3em;
    text-align: center;
    flex-grow: 1;
    background-color:#F5EBDC;
    border-right:0.3em solid #77DD77;
}
body nav ul li:last-child{
    border-right:0em;
}

body nav ul li:hover {
    cursor:pointer;
    background-color:#DCDCDC
}
body nav ul li a{
    display:block;
    width:100%;
    color:#1D1C1A;
}

header h1{
    text-align:center;
    margin-left: 1.0em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

header h1 a{
    color:#77DD77;
}