body{ 
    background-image:url("../imgs/background.jpg");
    background-size:cover;
    width:100%
}

article {
    width: 200px;
    padding: 1em;
    border:0.4em solid #77DD77;
    background-color: #ffffff;
    border-radius:1em;
    width: 32em;
    height: 14em;
    display:table;
    margin:auto;
    margin-top:15%;  
}
article a{
    font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    color: #1D1C1A;
}

article ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    overflow: scroll;
    overflow-x: hidden;
  }
   
article ul li {
    display: flex;
    justify-content: center;
    font: 200 20px/1.5 Inter,Helvetica, Verdana, sans-serif;
    border-bottom: 2px solid #1D1C1A;
}
 
article ul li:last-child {
  border: none;
}

article h2 {
    font: 400 30px/1.5 Inter, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #1D1C1A;
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1D1C1A;
    border-radius: 10px;
  }
  #search_bar {
    visibility: hidden;
}