@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


body{ 
    background-image:url("../imgs/background.jpg");
    background-size:cover;
    width:100%;
}

form {
    padding: 1em;
    border:0.4em solid #77DD77;
    background-color: #1D1C1A;
    border-radius:1em;
    margin:auto;
    display:table;
    margin-top:15%;  
}

form h2{
    color: white;
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

form label{
    color:white;
}

form label:first-of-type{
    font-weight: bold;
    display:inline-block;
    padding-bottom:1.5em;
}


form label input{
    border:0;
}

form label:last-of-type{
    font-weight: bold;
    display:inline-block;
    padding-bottom:1.5em;
}
form footer {
    display: flex;
    font-size: small;
    padding-top:1.5em;
    color: white;
    justify-content: center;
}
form footer p a{
    text-decoration: none;
    font-weight:bold;
    color: white;
}

p{
    color: white;
    padding-bottom: 1em;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 2em;
    width: 6em;
    background-color: white;
    font-weight: bold;
    color: #32cd32;
    border: 0;
    border-radius:1em;
}

form button:hover{
    background-color:#DCDCDC;
    cursor:pointer;
}

form footer p a:hover{
    text-decoration: underline;
}

#search_bar {
    visibility: hidden;
}