@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body{ 
    background-image:url("../imgs/hamburger_background");
    background-size:cover;
    width:100%
}

button{
    color:#77DD77;
    background-color: #1D1C1A;
    border: 0.2em solid #77DD77;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 0.4em;
}
button:hover {
    cursor: pointer;
}
menu ul li a p{
    width:max-content;
}

.hide {
    display: none;
}

menu {
    width: 250px;
    padding: 1em;
    border:0.4em solid #77DD77;
    background-color: #1D1C1A;
    border-radius:1em;
    width: 40em;
    height: 10em;
    display:table;
    margin:auto;
    margin-top:15%;  
}
menu p{
    font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    color:white;
}
menu h2 {
    font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    padding: 0.5em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
menu ul h1 {
    font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
 
menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
menu ul li {
    display: flex;
    justify-content: center;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
menu ul li:last-child {
  border: none;
}
 
