@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "IBM Plex Mono", 'Courier New', monospace;
    background-color: #F5EBDC;
}


form {
    padding: 1em;
    border:0.4em solid #D62300;
    background-color: #FF8732;
    border-radius:1em;
}

form h2{
    color: white;
    padding-bottom: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

form label{
    color:white;
    display:inline-block;
    padding-bottom:1.5em;
    padding-top:0em;
    font-weight: bold;
    width:100%;
}



form label input{
    border:0;
    display:float;
    float:right;
    margin-left:0.5em;
    margin-top: 0.3em;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 2em;
    width: 6em;
    background-color: white;
    font-weight: bold;
    color: #D62300;
    border: 0;
    border-radius:1em;
}

form button:hover{
    background-color:#DCDCDC;
    cursor:pointer;
}

