@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

section h1{
    padding:0.5em;
}

input textarea{
    resize: none;
}

#replyText{
    margin-left: 1em;
}
.replyUser{
margin-left: 1em;
}

.review{
    margin-right:1em;
    margin-left: 1em;
    padding: 1em;
    border:0.2em solid #1d1c1a;
    background-color: white;
    border-radius:1em;
}
.review form h2{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review form {
    height: 120px
}
.review label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.review label textarea{
    padding: 0.2em;
    width: 400px;
    height: 60px;
    border:0;
    border-radius:1em;
    margin-left:0.5em;
    margin-top: 1.2em;
    border-radius: 1em;
    border:solid 1px black;
}

#reply_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 2em;
    width: 6em;
    background-color: #1d1c1a;
    font-weight: bold;
    color: #77DD77;
    border: 0;
    border-radius:1em;
    padding: 1.2em;
    margin-top:1em;
}
#reply_button:hover{
    background-color:#dcdcdc;
    cursor:pointer;
}

#write_review{
    margin-top:3em;
    margin-left: 1em;
    margin-right: 1em;
    height: 270px;
    padding: 1em;
    border:0.2em solid #1d1c1a;
    background-color: white;
    border-radius:1em;
    flex-direction: column;
}
#mydiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#write_review h2{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    font-size: 1.5em;
}
#write_review label{
    color:black;
    padding-bottom:1.5em;
    padding-top:0em;
    font-weight: bold;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
}

#write_review label input{
    display:flex;
    justify-content: center;
    margin-left:0.5em;
    margin-top: 0.3em;
    border-radius: 1em;
    border:solid 1px black;
    align-items: center;
    width:50px;
}
#write_review label textarea{
padding: 0.2em;
width: 400px;
height: 60px;
border:0;
border-radius:1em;
margin-left: 1em;
margin-top: 1.2em;
border-radius: 1em;
border:solid 1px black;
}

#write_review button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 3em;
    width: 7em;
    background-color: #1D1C1A;
    font-weight: bold;
    color: #77DD77;
    border: 0;
    border-radius:1em;
    padding: 1.2em;
    margin-top:0.5em;
}

#write_review button:hover{
    background-color:#DCDCDC;
    cursor:pointer;
}
.review span{
    color:  #32cd32;
    font-weight: bold;
}
.review{
    color:  black;

}
.review h1{
    padding:0.3em;
    font-size: 1.2em;
    color:black;
}

#restaurant_header p{
    font-size:small;
    padding-left:1em;
}

#restaurant_header h1{
    padding-left:1em;
}

#header_image{
    width:100%;
    height:45%;
}

.dish:hover{
    box-shadow: 0 0 2em #1D1C1A;
    cursor:pointer;
}
.category{
    margin-top:-2em;
}
.dish{
    transition:0.5s ease-in-out;
    border-radius:1em;
    overflow:hidden;
    margin-top:2em;
}

menu .category li a img{
    display: inline-block;
    height: 232px;
    width: 100%; 
    background-color: white;
}

menu ul{
    list-style: none;
    width:100%
}

menu{
    display:grid;
    grid-template-columns: 1fr 4fr;
}
menu ul .category{
    padding-bottom:3em;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
}

menu .category li p{
    display:block;
}

menu #dishes{
    grid-column-start: 2;
}

menu #dishes h1{
    margin-bottom:1em;
    margin-top:1em;
}

menu .category li{
    width:20em;
    vertical-align:top;
    position:relative;
    display:inline-block;
    text-align:center;
    margin-right:3em;
}

#restaurant_name{
    margin-left:0;
    margin-top:0.5em;
}


#categories{
    margin-top:1em;
    margin-left:2em;
    height: fit-content;
    position: sticky;
    top: 0;
}

#categories h3{
    margin-top:1em;
}

#categories a{
    color:black;
}

#edit_restaurant{
    margin-top:3em;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.restaurant_info{
    padding-top: 8em;
    padding-left: 1em;
}

.restaurant_info p{
    padding-top: 1em;
    padding-bottom: 1em;
}
.add_dish{
    float: left;
    color: white;
    background-color: #1D1C1A;
    border: 0.4em solid #77DD77;
    padding: 0.5em;
}

.add_dish_category{
    float: left;
    color: white;
    background-color: #1D1C1A;
    border: 0.4em solid #77DD77;
    padding: 0.5em;
}

.edit_order{
    float: left;
    color: white;
    background-color: #1D1C1A;
    border: 0.4em solid #77DD77;
    padding: 0.5em;
}
menu h2{
    padding-bottom: 1em;
    font-size: 2.5em;
}
form{
    padding-bottom:1em;
}
.add_cart {
    border:none;
    margin-bottom:1em;
    margin-top:1em;
}
.nrLikes{
    text-align:center;
}
.add_cart:hover{
    cursor: pointer;
}
.add_cart img{
    height: 25px;
    width: 25px;
}

.hiden {
    display: none;
}

.likeDiv{
    position: absolute;
    top: 1%; 
    right: 1%;
}

.like{
    width: 48px;
    height: 48px;
}

.like-no{
    background: url("../imgs/dislike.svg") no-repeat;
}

.like-yes{
    background: url("../imgs/like.svg") no-repeat;
}

.add_to_cart_response{
    width:100%;
    position:fixed;
    bottom:0em;
    color:white;
    font-size: xx-large;
    text-align: center;
}

.success{
    background-color:#4BB543;
}

.error{
    background-color:#AF0606;
}

.underLineCategory{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.category{
    margin-top: 1em;
}