@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


menu ul li a p{
    width:max-content;
}


menu {
  padding: 1em;
  border-radius:1em;
  margin:auto;
  margin-top:5%;  
}
 
menu h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #000
}
menu h1{
  color: #77DD77;
}
 
menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
menu ul li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 2px solid #000;
  transition: 0.5s ease-in-out;
}
 
menu ul li:last-child {
  border: none;
}
 
menu ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
menu ul li:hover {
  box-shadow: 0 0 2em #1D1C1A;
}
menu ul li img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}