@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


menu ul li a p{
    width:max-content;
}

body{ 
  background-image:url("../imgs/hamburger_background");
  background-size:cover;
  width:100%
}
menu {
  width: 800px;
  padding: 1em;
  border:0.4em solid #77DD77;
  background-color: #1D1C1A;
  border-radius:1em;
  display:table;
  margin:auto;
  margin-top:15%;  
}
 
menu h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFF
}
menu h1{
  color: #77DD77;
}
 
menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
menu ul li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 2px solid #ccc;
}
 
menu ul li:last-child {
  border: none;
}
 
menu ul li a {
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
menu ul li a:hover {
  font-size: 30px;
}